label, input {
    display:block;
    margin: 0 auto;
}

form input {
    margin-bottom: 1%;
    width: 25%;
}


form {
    display: block;
    margin: 0 auto;
    text-align: center;
}

form button {
    display:block;
    margin: 1% auto;
    border-radius: 4px;
    background-color: #234465;
    color:white;
    border: none;
    padding: 0.5%;
}